#cardBody{
    width: 100%; 
    position: relative;
    max-width: 560px;
    margin: auto;
    .ant-card-body{
        width: 100%;
        border: none;
    }
}
.advancecard{
    z-index: 16;
    visibility: hidden;
    position: absolute;
}
.advanceTop{
    display: flex;
    justify-content: space-between;
    
}
.advanceButton{
    // display: flex;
    // justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 15px;
    .ant-btn{
        border-radius: 8px !important;
        background: #757575;
        border: none;
        color: #F5F5F5;
        &:hover{
            color:#202121;
            background: #EFEEEE;
        }
    }
    
}
.ant-input-suffix{
    color:#757575;
}
.ant-input{
    background-color: #202121 !important;
    color: #EFEEEE !important;
    
}
.ant-input-affix-wrapper{
    background: #202121 !important;
}
.advanceInput{
    border-radius: 8px !important;
    border: 1px solid #757575 !important;
    padding: 8px 11px !important;
}
.advanceBtn{
    margin-left: 20px;
}
.error{
    margin-top: 24px;
    margin-bottom: 24px;
}
.turnBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.turnAround{
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 8px !important;
    background: #202121 !important;
    border: #202121  !important;
    &:hover{
        color: black !important;
    }
    &:active{
        color:black !important;
    }
}
.transferItemTop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .transferItemTopLeft{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        .dropBot{
            left: 30%;
        }
    }

}
.cardButton{
    width: 100%;
    border: 0px none !important;
    height: 56px;
    margin: 0px;
    font-size: 16px;
    background: #EFEFEF !important;
    color: #000000 !important;
    font-weight: 700;
    border-radius: 16px !important;
    font-family: 'roc-grotesk', sans-serif;
    &:hover{
        transition: background-color 1.5s;
        background-color: #bfbfbf !important;
    }
    
}
// .dropDown{
//     height: 40px !important;
//     display: flex;
//     font-size: 16px !important;
//     background: rgb(23, 23, 26) !important;
//     align-items: center;
//     font-weight: 600;
//     padding-left: 8px !important;
//     border-radius: 16px !important;
//     padding-right: 10px !important;
//     border: rgb(23, 23, 26) !important;
//     &:active{
//         color:black !important;
//     }

// }

.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 16px !important;
    margin-left: 12px;
    background: black !important;
    color: white;
    padding-left: 12px !important;
}
.ant-select-arrow{
    color: white !important;
}

.ant-select-item{
    color: white !important;
    &:hover{
        background: white;
        color: black !important;
    }
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
    background: grey;
    color: black !important;
}
.inside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.topLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -30px;
    flex-wrap: nowrap;
}
.botLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: -20px;
    margin-left: -10px;

}

.labelStyle{
    color: rgb(143, 155, 179);
    float: left;
    font-size: 12px;
    font-weight: 600;
}